<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Magelearn\CodeSample\Api\CodesampleRepositoryInterface" type="Magelearn\CodeSample\Model\CodesampleRepository"/>
	<preference for="Magelearn\CodeSample\Api\Data\CodesampleInterface" type="Magelearn\CodeSample\Model\Data\Codesample"/>
	<preference for="Magelearn\CodeSample\Api\Data\CodesampleSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Magelearn\CodeSample\Model\ResourceModel\Codesample\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">magelearn_codesample</argument>
			<argument name="resourceModel" xsi:type="string">Magelearn\CodeSample\Model\ResourceModel\Codesample\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="magelearn_codesample_listing_data_source" xsi:type="string">Magelearn\CodeSample\Model\ResourceModel\Codesample\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>
