<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="magelearn_codesample" id="magelearn_codesample">
			<module before="Magento_Backend" name="Magelearn_CodeSample"/>
		</route>
	</router>
</config>
